*{
    font-family: 'Roboto', sans-serif;
}


nav {
    min-height: 50px;
    background-color: #212121;
    width: 100%;

    
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style-type: none;
}

.menu .menu_link {
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;

}

.menu .menu_item {
    border-right: 2px dotted white;
    padding-right: 28px;
}

.subheader {
    position: absolute;
    width: 100%;
    height: 84px;
    background-color: rgba(0, 0, 0, 0.6)
}

.subheader .subheader_logo {
    display: block;
    min-width: 100%;
    margin-top: 16px;
}

.subheader .subheader_text {
    margin-top: 6px;
    opacity: 0.5;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
}

.subheader .subheader_call{
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
    margin-top: 19px;
    text-align: right;
}

.subheader .subheader_phone {
    display: block;
    margin-top: 8px;
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: right;
    line-height: 12px;
}

.subheader .subheader_btn {
    margin-top: 19px;
    width: 172px;
    height: 46px;
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
}

.promo {
    min-height: 800px;
    background: url(../img/main_bg.png) center center/cover no-repeat;
    padding: 150px 0 135px 0;
}

.promo .promo_header{
    font-weight: 700;
    font-size: 60px;
    color: #FFFFFF;
    margin: 0;
    text-align: center;
}

.promo .promo_subheader{
    font-weight: 700;
    font-size: 36px;
    color: #FFFFFF;
    margin: 0;
    margin-top: 22px;
    text-align: center;

}

.promo .promo_descr{
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 23px;
}

.promo .promo_btn{
    display: block;
    margin: 118px auto 0 auto;
    width: 259px;
    height: 63px;
    box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

.benefits {
    padding: 71px 0 65px 0;
    max-height: 900px;
}

.benefits .label{
    width: 110px;
    margin: 0 auto;
    text-align: center;
    font-weight: 100;
    font-size: 11px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    height: 30px;
    line-height: 33px;
}

.benefits .title{
    font-weight: 700;
    margin-top: 25px;
    font-size: 38px;
    text-align: center;
    text-transform: uppercase;
    color: black;
}

.benefits .benefits_item{
    display: flex;
    margin-top: 30px;
}

.benefits .benefits_round{
    display: flex;
    min-width: 113px;
    height: 113px;
    background-color: #1EACC7;
    border-radius: 100%;
    align-items: center;
    max-width: 113px;
    min-height: 113px;

}

.benefits .benefits_logo{
    margin: 0 auto;
}

.benefits .benefits_text{
    min-height: 150px;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    color: black;
    padding-left: 26px;
    padding-right: 72px;
}

.benefits .benefits_text span{
    color: #1EACC7;
}